
.gallery-grid {
display:block;
width: 100%;
float:left;
}


.gallery-grid div img {

	display:inline-block;
    width:100%;


}



.gallery-grid div {


    width:24%;
	float:left;
    margin: auto;

	padding:.5%;

}


footer{
	position: absolute;
	bottom:0;
}
