

.ui-grid {
    width:90%;
    margin-top:2%;
    margin-left:auto;
    margin-right:auto;
}
.ui-grid img {
    width:100%;
}
.ui-grid > div {
    width:16%;
    float:left;
    margin:3px;
}
#slideinmenu {
    float:left;
    margin-right:.3%;
    width:10%;
    background-color:grey;
    padding:0;
}

.wideimg{
    width:100%;
    
}

.wideimg >div{
    width:50%;
    float:left;
    
    
}
.wideimg >div img{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    
}