.fitgrid{
    width:100%;
}

.contentmarg{
    margin:10px;
}

.cheese{
    color:red;
    background-color:white;
}

#bgimg{
    position:fixed;
    display:inline;
    width:100%;
    margin:0;
    
}


#Cheader > h1{
    position:relative;
    left:-25%;
   
    text-shadow:none;
}

.btn{
    display:inline-block;
    position:relative;
    left:90%;
    width:34px;
    height:35px;
    border-radius:50%;
    border:none;
}

.bars{
    position:relative;
    width:100%;
    height:3px;
    background-color:black;
    border-radius:3px;
}
